:root {
    --bg-color: #202020;
    --bg-color-2: #8acdea;
    /* --title: #8ACDEA; */
    --heading-1: #d9d9d9;
    --default-text: #d9d9d9;
    /* --heading-2: #8093F1; */
    --title: #d9d9d9;
    --emphasis: rgb(199, 158, 33);
    --neutral: #f4f4ed;
    --blue: #8acdea;
    --light-blue: rgba(138, 205, 234, 0.5);
    --gold: rgb(199, 158, 33);
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgba(100, 100, 100, 70);
    transition: background-color 1s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a3a3a3;
}

@font-face {
    font-family: SignikaNegativeBold, sans-serif;
    src: url("../Fonts/SignikaNegative-Bold.ttf");
}

@font-face {
    font-family: SignikaNegativeRegular;
    src: url("../Fonts/SignikaNegative-Regular.ttf");
}

@font-face {
    font-family: SignikaNegativeLight, sans-serif;
    src: url("../Fonts/SignikaNegative-Light.ttf");
}

@font-face {
    font-family: SecularOne;
    src: url("../Fonts/SecularOne-Regular.ttf");
}

@font-face {
    font-family: Sriracha;
    src: url("../Fonts/Sriracha-Regular.ttf");
}

@font-face {
    font-family: PatrickHand;
    src: url("../Fonts/PatrickHand-Regular.ttf");
}

@font-face {
    font-family: BreeSerif;
    src: url("../Fonts/BreeSerif-Regular.ttf");
}

@font-face {
    font-family: MerriweatherSans;
    src: url("../Fonts/MerriweatherSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../Fonts/Montserrat-VariableFont_wght.ttf");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
    position: relative;
    font-family: SignikaNegativeRegular, sans-serif;
}

a {
    cursor: pointer;
}

p,
ul {
    font-family: SignikaNegativeRegular, sans-serif;
}

h1 {
    font-family: SecularOne, sans-serif;
    font-size: 160px;
    margin: 0;
    line-height: 1;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 100px;
    margin: 0;
    font-weight: 400;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

span {
    font-family: Montserrat, sans-serif;
}

@keyframes slash {
    0% {
        height: 0;
        transform: rotate(0);
        width: 0.5vw;
    }
    30% {
        height: 180vh;
        transform: rotate(0) translateX(0);
        width: 0.5vw;
    }
    60% {
        height: 180vh;
        transform: rotate(-25deg) translateX(2vw);
        width: 0.5vw;
    }
    100% {
        height: 180vh;
        transform: rotate(-25deg) translateX(0);
        width: 70vw;
    }
}

@keyframes tertiary-slash {
    0% {
        height: 0;
        transform: rotate(0) translateX(-2vw);
        width: 0.5vw;
    }
    30% {
        height: 180vh;
        transform: rotate(0) translateX(-2vw);
        width: 0.5vw;
    }
    60% {
        height: 180vh;
        transform: rotate(-25deg) translateX(0);
        width: 0.5vw;
    }
    100% {
        height: 180vh;
        transform: rotate(-25deg) translateX(0);
        width: 70vw;
    }
}

@keyframes headers-appear {
    0% {
        transform: rotate(-25deg) translateX(-10rem);
    }
    50% {
        transform: rotate(-25deg) translateX(-10rem);
    }
    100% {
        transform: rotate(-25deg) translateX(-90rem);
    }
}

#header-cover {
    width: 70rem;
    height: 110vh;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    animation-name: headers-appear;
    animation-duration: 3.5s;
    animation-fill-mode: both;
    z-index: 999;
}

#secondary-bg {
    width: 100vw;
    background-color: var(--default-text);
    position: absolute;
    top: -50vh;
    left: 50%;
    animation-name: slash;
    animation-duration: 3s;
    animation-fill-mode: both;
    z-index: 1001;
}

#tertiary-bg {
    width: 70vw;
    height: 180vh;
    background-color: var(--gold);
    position: absolute;
    top: -50vh;
    left: 49%;
    animation-name: tertiary-slash;
    animation-duration: 3s;
    animation-fill-mode: both;
    z-index: 1000;
}

@keyframes hide-bg {
    0% {
        height: 180vh;
        transform: rotate(-25deg) translateX(0);
        width: 70vw;
    }
    25% {
        height: 180vh;
        transform: rotate(0) translateX(0);
        width: 70vw;
    }
    100% {
        height: 180vh;
        transform: rotate(0) translateX(70rem);
        width: 70vw;
    }
}

@keyframes return-bg {
    0% {
        height: 180vh;
        transform: rotate(0) translateX(70rem);
        width: 70vw;
    }
    60% {
        height: 180vh;
        transform: rotate(0) translateX(0);
        width: 70vw;
    }
    100% {
        height: 180vh;
        transform: rotate(-25deg) translateX(0);
        width: 70vw;
    }
}

#secondary-bg.hide-bg,
#tertiary-bg.hide-bg {
    animation-name: hide-bg;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 0s;
}

#secondary-bg.return-bg,
#tertiary-bg.return-bg {
    animation-name: return-bg;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

@keyframes hide-name {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(70rem);
    }
}

@keyframes return-name {
    0% {
        transform: translateX(70rem);
    }
    60% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

#name {
    position: absolute;
    color: var(--bg-color);
    top: 8vh;
    right: 5vw;
    text-align: right;
    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-delay: 1.7s;
    animation-fill-mode: both;
    z-index: 9999;
}

#name.hide-name {
    animation-name: hide-name;
    animation-duration: 2s;
    animation-delay: 0s;
}

#name.return-name {
    animation-name: return-name;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
}

#main-headers {
    position: absolute;
    height: 100%;
    width: calc(100% - 5vw);
    font-family: OohBaby;
    color: var(--title);
    padding-left: 5vw;
    min-width: 50vw;
    overflow: hidden;
}

#main-headers > .header {
    position: absolute;
    cursor: pointer;
    margin: 1rem 0;
    transition: transform 1s ease, color 0.5s ease;
    display: grid;
    grid-template-rows: 0.9fr 0.1fr;
    justify-content: start;
}

#main-headers > .header h2 {
    background-color: var(--gold);
    background-image: linear-gradient(
        to left,
        var(--heading-1) 50%,
        var(--gold) 50%
    );
    background-position: right;
    background-size: 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: background-position 1s ease;
}

#main-headers > .header.enabled:hover,
#main-headers > #third-header.enabled.hover {
    transform: translateY(-3rem);
    z-index: 999;
}

#main-headers > .header.enabled:hover h2 {
    background-position: left;
}

#main-headers > #first-header.enabled.hover {
    color: rgb(199, 158, 33);
    transform: translateY(-11vh);
    z-index: 999;
}

#main-headers > #second-header.enabled.hover {
    color: rgb(199, 158, 33);
    transform: translateY(-8vh);
    z-index: 999;
}

#main-headers .header > b {
    z-index: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#main-headers .header > div {
    grid-row-start: 2;
    grid-row-end: 2;
}

#main-headers .header > b {
    height: 4rem;
}

.smaller-text {
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-delay: 0.7s;
    animation-fill-mode: both;
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#main-headers .disable-transition {
    transition: none;
}

#first-header.first-header-to-top {
    color: rgb(199, 158, 33);
    animation-name: first-header-to-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes first-header-to-top {
    0% {
        top: 30vh;
    }
    100% {
        top: 2.5rem;
    }
}

@keyframes second-header-to-top {
    0% {
        top: 49vh;
    }
    100% {
        top: 2.5rem;
    }
}

#second-header.second-header-to-top {
    color: rgb(199, 158, 33);
    animation-name: second-header-to-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes third-header-to-top {
    0% {
        top: 68vh;
    }
    100% {
        top: 2.5rem;
    }
}

#third-header.third-header-to-top {
    color: rgb(199, 158, 33);
    animation-name: third-header-to-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes first-header-initial-position {
    0% {
        top: 2.5rem;
    }
    100% {
        top: 35vh;
    }
}

.first-header-initial-position {
    animation-name: first-header-initial-position;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes second-header-initial-position {
    0% {
        top: 2.5rem;
    }
    100% {
        top: 54vh;
    }
}

.second-header-initial-position {
    animation-name: second-header-initial-position;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes third-header-initial-position {
    0% {
        top: 2.5rem;
    }
    100% {
        top: 73vh;
    }
}

.third-header-initial-position {
    animation-name: third-header-initial-position;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

#first-header {
    top: 35vh;
}

#second-header {
    top: 54vh;
}

#third-header {
    top: 73vh;
}

.third-header-logos,
.second-header-logos,
.first-header-logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 0;
    z-index: 1;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

#first-header div div {
    display: flex;
    justify-self: center;
    align-self: center;
}

.third-header-logos img,
.second-header-logos img,
.first-header-logos img {
    height: 80px;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    opacity: 0;
    transform: translateY(-7vh) rotate(-5deg) scale(0.8);
    transition: opacity 0.3s ease, transform 0.6s;
}

.first-header-logos {
    padding-top: 85px;
}

.second-header-logos {
    padding-top: 90px;
}

.third-header-logos {
    padding-top: 88px;
}

.third-header-logos div,
.second-header-logos div {
    display: flex;
    justify-content: center;
}

#tdsb {
    height: 6vh;
}

#uofw {
    height: 9.2vh;
}

#code {
    height: 7vh;
}

#curling {
    height: 6vh;
}

#curling-logo {
    padding-left: 0.5vw;
}

#guitar {
    height: 100px;
    width: auto;
    padding-right: 1.5rem;
}

#hockey {
    height: 80px;
    width: auto;
}

#front-rush,
#guitar,
#uofw {
    transition-delay: 0.1s;
}

#tbits,
#hockey,
#code {
    transition-delay: 0.2s;
}

#vividseats,
#frisbee {
    transition-delay: 0.3s;
}

#creature-world,
#chess {
    transition-delay: 0.4s;
}

#third-header.enabled:hover img,
#second-header.enabled:hover img,
#first-header.enabled:hover img,
#third-header.enabled.hover img,
#second-header.enabled.hover img,
#first-header.enabled.hover img {
    opacity: 100%;
    transform: translateY(0) rotate(0deg) scale(1);
}

#third-header.float:hover div div,
#second-header.float:hover div div,
#first-header.float:hover div div,
#third-header.float.hover div div,
#second-header.float.hover div div,
#first-header.float.hover div div {
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.68, -0.01, 0.45, 0.99);
    animation-fill-mode: both;
}

.third-header-logos div,
.second-header-logos div,
.first-header-logos div {
    animation-duration: 7s;
}

.third-header-logos div:nth-child(2),
.second-header-logos div:nth-child(2),
.first-header-logos div:nth-child(2) {
    animation-delay: 0.5s;
}

.third-header-logos div:nth-child(3),
.second-header-logos div:nth-child(3) {
    animation-delay: 1s;
}

.third-header-logos div:nth-child(4),
.second-header-logos div:nth-child(4) {
    animation-delay: 1.5s;
}

.third-header-logos div:nth-child(5),
.second-header-logos div:nth-child(5) {
    animation-delay: 2s;
}

@keyframes fade-in-translate {
    0% {
        opacity: 0;
        transform: translateY(50vh);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes fade-in-translate-down {
    0% {
        opacity: 0;
        transform: translateY(-50vh);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.hidden-well {
    display: none !important;
}

#first-header-body,
#second-header-body,
#third-header-body {
    position: absolute;
    margin-top: 13rem;
    width: 90vw;
}

#first-header-uofw-img {
    width: 80px;
    height: 80px;
}

#paragraphs {
    animation-name: slide-in-from-right;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    overflow: auto;
    padding-right: 2.5rem;
    text-align: right;
}

#paragraphs p:first-of-type {
    margin-top: 6.5rem;
}

@keyframes slide-in-from-right {
    0% {
        transform: translateX(50vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes headshot-fade-in-translate {
    0% {
        opacity: 0;
        transform: translateY(30vh);
    }
    100% {
        opacity: 100%;
        transform: translateY(-20vh);
    }
}

#headshot-well {
    display: block;
    overflow: hidden;
    height: 400px;
    width: 500px;
    position: absolute;
    top: 0;
    right: -5vw;
    border-radius: 20px;
    border: 3px solid var(--heading-1);
    margin: 7vh 70px 0 6vw;
    transition: transform 0.4s ease-out;
    animation-name: headshot-fade-in-translate;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

#headshot {
    transform: translateY(-50px);
    float: left;
    width: 500px;
    height: auto;
}

#headshot-well:hover {
    transform: scale(1.05) translateY(-20vh);
}

.first-paragraph {
    width: 50vw;
    margin-bottom: 8vh;
    font-size: 25px;
}

#first-header-body {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1px 1.3fr;
    font-size: 26px;
    color: var(--default-text);
}

#divider {
    animation: fade-in 2s ease-out both;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#divider div {
    border-left: 2px solid var(--emphasis);
    width: 1px;
    height: 100%;
}

#first-header-body .card {
    height: fit-content;
    width: auto;
    border: 4px solid var(--heading-1);
    display: flex;
    margin: 0.5rem;
    margin-bottom: 1rem;
}

#first-header-body .card:hover {
    border: 4px solid var(--emphasis);
}

#first-header-body .card p {
    margin: 0;
}

.left-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-image img {
    width: 100px;
    padding: 0 2rem;
}

.right-text {
    padding: 1rem 2rem 1rem 0;
}

#right-card-scroller {
    animation: slide-in-from-left 1s ease-out 1s both;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
    padding: 0 2rem;
}

@keyframes slide-in-from-left {
    0% {
        transform: translateX(-60vw);
    }
    100% {
        transform: translateX(0);
    }
}

#right-card-scroller > * {
    margin-left: 0.5rem;
}

.paragraph-well {
    overflow-x: hidden;
}

.right-card-well {
    overflow-x: hidden;
}

@keyframes back-btn-slide-in {
    0% {
        opacity: 0;
        transform: translateX(-5vw);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

#back-btn {
    position: absolute;
    cursor: pointer;
    outline: 3px solid var(--emphasis);
    border: none;
    background-color: rgba(255, 186, 223, 0.1);
    left: 0;
    top: 3rem;
    height: 15vh;
    border-radius: 0 20px 20px 0;
    width: 3vw;
    animation-name: back-btn-slide-in;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
    transition: width 1s ease;
    overflow: hidden;
}

#gold-back-arrow {
    display: none;
}

#back-btn:hover {
    width: 4vw;
}

#back-btn img {
    width: 1vw;
    height: auto;
}

@keyframes slide-to-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

.slide-to-right {
    animation-name: slide-to-right;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.reverse-animation {
    animation-direction: reverse !important;
    animation-fill-mode: both;
    animation-duration: 0.8s !important;
    animation-delay: 0s !important;
}

#resume.hidden-well {
    display: none;
}

#resume {
    font-size: 35px;
    color: var(--emphasis);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: auto;
    position: fixed;
    top: 14vh;
    right: 5vw;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

#resume-download {
    display: flex;
    text-decoration: none;
}

#pdf-icon {
    width: 30px;
    height: 37px;
    margin: 0 8px 6px 30px;
}

#pdf-desc {
    color: white;
    margin: 10px 0 0 0;
    font-size: 25px;
}

.img-text-row {
    position: relative;
    display: grid;
    grid-template-columns: 10% 90%;
    color: var(--default-text);
    font-size: 25px;
    padding-top: 5vh;
    padding-right: 0.5vw;
}

#second-header-body .img-text-row img {
    height: 65px;
}

#second-header-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
    height: calc(70vh - 10px);
    height: calc(70svh - 10px);
    margin-bottom: 2rem;
    animation-name: fade-in-translate;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    padding-left: 1rem;
    padding-bottom: 2rem;
    margin-left: -1rem;
}

.card {
    width: 330px;
    height: 550px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 12px;
    transition: box-shadow 0.4s ease-out, transform 0.4s ease-out,
        border 0.4s ease-out;
    margin-top: 1rem;
}

@media screen and (max-width: 500px) {
    .card {
        width: 330px;
        height: 430px;
    }
    .card:last-child {
        margin-bottom: 2rem;
    }
}

@media (hover: hover) {
    .card:hover .card-body {
        border: 4px solid var(--emphasis);
    }
    .card:hover {
        box-shadow: 0 0 10px 0 var(--emphasis);
        transform: scale(1.01);
    }
    #third-header-body .card:hover {
        border: 4px solid var(--emphasis);
    }
}

.card .top-image-back {
    border-radius: 12px 12px 0 0;
}

.card .top-image.expand {
    height: 100%;
    border-radius: 12px;
    z-index: 1;
}

.card .top-image {
    position: absolute;
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    transition: height 0.4s ease-out, border-radius 0.4s ease-out;
    cursor: pointer;
}

#third-header-body .card {
    border: 4px solid var(--heading-1);
    height: 480px;
    width: 345px;
    grid-template-rows: 1fr 1.1fr;
}

#third-header-body .card .top-image-well {
    display: flex;
    justify-content: center;
    align-items: center;
}
#third-header-body .card .top-image {
    object-fit: cover;
    position: relative;
    height: auto;
    max-width: 140px;
    border-radius: 0px;
}

@media screen and (max-width: 500px) {
    #third-header-body .card .top-image {
        max-width: 130px;
    }

    #third-header-body .card {
        height: 440px;
    }
}

#third-header-body .top-image-back,
#third-header-body .bottom-logo {
    display: none;
}

.card-body {
    padding: 1rem;
    padding-bottom: 0;
    border: 4px solid var(--heading-1);
    border-radius: 0 0 12px 12px;
    transition: color 0.4s ease-out, border 0.4s ease-out;
}

.gold {
    color: var(--gold);
}

.card-body p:last-of-type {
    margin-bottom: 0;
}

.card a {
    color: var(--blue);
    text-decoration: none;
}

#third-header-body .card-body {
    border: none;
    padding-top: 0;
}

.divider {
    border-top: 1px solid var(--default-text);
    margin-bottom: 0.5rem;
}

.card-body p.subtitle {
    margin-top: 0.25rem;
}

.card-body i {
    font-family: SignikaNegativeBold, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
    color: var(--emphasis);
}

.card-body p:not(.subtitle) {
    font-size: 19px;
    margin: 0.75rem 0;
}

.card .bottom-logo {
    height: 40px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1rem 1rem 0;
}

#third-header-body .creature-well {
    position: relative;
}

#third-header-body .creature-well img.top-image {
    position: absolute;
    top: 0;
    left: 0;
}

#third-header-body img#idle-back.top-image {
    height: 274px;
    width: 158px;
    max-width: none;
    transform: translate(80px, -15px);
    z-index: -1;
}

#third-header-body img#idle-front.top-image {
    height: 18px;
    width: 22px;
    max-width: none;
    transform: translate(111px, -14px);
    z-index: 1;
}

@media screen and (min-width: 440px) {
    #martha-rave-header {
        transform: translateY(0.25rem);
        font-size: 28px;
    }
}

#bottom-guitar-logo {
    height: 60px;
}

#bottom-hockey-logo {
    height: 50px;
}

#bottom-frisbee-logo {
    height: 40px;
}

@media screen and (max-width: 500px) {
    .card-body p {
        font-size: 15px;
    }
    .card-body p:not(.subtitle) {
        font-size: 16px;
        margin: 0.5rem 0;
    }
    .card .bottom-logo {
        height: 30px;
    }
    #bottom-guitar-logo {
        height: 50px;
    }
    #bottom-hockey-logo {
        height: 50px;
    }

    #bottom-frisbee-logo {
        height: 40px;
    }
}

#first-header-code-img {
    width: 100px;
    height: 80px;
}

.img-text-row img {
    width: auto;
    height: 100px;
    padding-right: 1vw;
}

.img-text-row ul {
    margin: 0 0 25px 0;
}

.img-text-row p,
.img-text-row img {
    margin-top: 0;
    margin-bottom: 4vh;
}

.img-text-row img#tdsb-logo {
    height: 2.5vw;
    min-height: 35px;
    width: auto;
    padding-right: 1.4vw;
}

.img-text-row img#guitar-logo {
    height: 120px;
    width: auto;
    padding-left: 1.2vw;
}

.img-text-row img#hockey-logo {
    height: 90px;
    width: auto;
    padding-left: 0.5vw;
}

.img-text-row img#frisbee-logo {
    height: 75px;
}

.row-title {
    position: absolute;
    top: 0;
    margin: 0;
    padding-left: 10%;
}

.row-img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.proj {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
}

#third-header-body {
    width: 92vw;
    /* border-right: 2px solid rgb(200, 200, 200);
    border-left: 2px solid rgb(200, 200, 200); */
    animation-name: fade-in-translate;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    margin-top: 22vh;
}

#third-header-body-headers > h3 {
    font-size: 60px;
    cursor: pointer;
    color: var(--blue);
}

#third-header-body-headers > h3:hover {
    color: var(--blue);
}

#third-header-body-headers > h3:not(.active-header) {
    color: var(--light-blue);
}

h3.active-header {
    opacity: 1;
}

#third-header-body-headers .left {
    position: absolute;
    left: 0;
    transition: left 1s ease, color 1s ease, opacity 1s ease;
}

#third-header-body-headers .first-header.middle {
    position: absolute;
    left: 20rem;
    transition: left 1s ease, color 1s ease;
}

#third-header-body-headers .second-header.middle {
    position: absolute;
    left: 20rem;
    transition: left 1s ease, color 1s ease;
}

#third-header-body-headers .third-header.middle {
    position: absolute;
    left: 20rem;
    transition: left 1s ease, color 1s ease;
}

#third-header-body-headers .first-header.right {
    position: absolute;
    left: 80%;
    transition: left 1s ease, color 1s ease;
}

#third-header-body-headers .second-header.right {
    position: absolute;
    left: 76%;
    transition: left 1s ease, color 1s ease;
}

#third-header-body-headers .third-header.right {
    position: absolute;
    left: 78%;
    transition: left 1s ease, color 1s ease;
}

@keyframes well-open {
    0% {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 5rem;
    }
    100% {
        height: 60vh;
    }
}

@keyframes well-close {
    0% {
        height: 60vh;
    }
    100% {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 5rem;
    }
}

.well-close {
    animation-name: well-close;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.well-open {
    animation-name: well-open;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.third-header-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
    overflow-y: auto;
    height: 62vh;
    border-bottom: 1px solid var(--default-text);
    padding-bottom: 2rem;
    padding-left: 1rem;
    margin-left: -1rem;
}

@media screen and (max-width: 440px) {
    .third-header-body {
        margin-top: 3rem;
    }
    @keyframes well-open {
        0% {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 3rem;
        }
        100% {
            height: 60vh;
        }
    }
    @keyframes well-close {
        0% {
            height: 60vh;
        }
        100% {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 3rem;
        }
    }
}

.blue-right-arrow {
    display: none;
}

.socials-bar {
    border: 4px solid var(--bg-color);
    position: absolute;
    z-index: 9999;
    bottom: 3rem;
    right: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    animation: pop-up 1s ease 2s both;
}

.socials-bar a {
    display: flex;
}

@keyframes pop-up {
    0% {
        transform: translateY(10rem);
    }
    100% {
        transform: translateY(0);
    }
}

.links {
    display: flex;
    justify-content: end;
    align-items: center;
    width: fit-content;
    gap: 1rem;
}

.links img {
    max-width: 3rem;
    transition: transform 0.3s ease;
}

.links img:hover {
    transform: scale(1.1);
}

@media (max-width: 1920px) {
    h1 {
        font-size: 150px;
    }
    h2 {
        font-size: 90px;
    }
    h3 {
        font-size: 35px;
    }

    .first-paragraph {
        font-size: 30px;
    }

    .img-text-row {
        font-size: 25px;
    }
}

@media (max-width: 1750px) {
    @keyframes hide-bg {
        0% {
            height: 180vh;
            transform: rotate(-25deg) translateX(0);
            width: 70vw;
        }
        25% {
            height: 180vh;
            transform: rotate(0) translateX(5rem);
            width: 70vw;
        }
        100% {
            height: 180vh;
            transform: rotate(0) translateX(70rem);
            width: 70vw;
        }
    }

    @keyframes return-bg {
        0% {
            height: 180vh;
            transform: rotate(0) translateX(70rem);
            width: 70vw;
        }
        50% {
            height: 180vh;
            transform: rotate(0) translateX(5rem);
            width: 70vw;
        }
        60% {
            height: 180vh;
            transform: rotate(0) translateX(5rem);
            width: 70vw;
        }
        100% {
            height: 180vh;
            transform: rotate(-25deg) translateX(0);
            width: 70vw;
        }
    }
    @keyframes hide-name {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(10rem);
        }
        100% {
            transform: translateX(75rem);
        }
    }

    @keyframes return-name {
        0% {
            transform: translateX(75rem);
        }
        50% {
            transform: translateX(10rem);
        }
        60% {
            transform: translateX(10rem);
        }
        100% {
            transform: translateX(0);
        }
    }
}

@media (max-width: 1670px) {
    #header-cover {
        width: 60rem;
    }
    #secondary-bg {
        left: 50%;
        top: -60vh;
    }
    #tertiary-bg {
        left: 49%;
        top: -60vh;
    }
    @keyframes slash {
        0% {
            height: 0;
            transform: rotate(0);
            width: 4px;
        }
        30% {
            height: 180vh;
            transform: rotate(0) translateX(0);
            width: 4px;
        }
        60% {
            height: 180vh;
            transform: rotate(-35deg) translateX(2vw);
            width: 4px;
        }
        100% {
            height: 180vh;
            transform: rotate(-35deg) translateX(0);
            width: 80rem;
        }
    }

    @keyframes tertiary-slash {
        0% {
            height: 0;
            transform: rotate(0) translateX(-2vw);
            width: 4px;
        }
        30% {
            height: 180vh;
            transform: rotate(0) translateX(-2vw);
            width: 4px;
        }
        60% {
            height: 180vh;
            transform: rotate(-35deg) translateX(0);
            width: 4px;
        }
        100% {
            height: 180vh;
            transform: rotate(-35deg) translateX(0);
            width: 80rem;
        }
    }
    @keyframes hide-bg {
        0% {
            height: 180vh;
            transform: rotate(-30deg) translateX(0);
            width: 70vw;
        }
        25% {
            height: 180vh;
            transform: rotate(0) translateX(5rem);
            width: 70vw;
        }
        100% {
            height: 180vh;
            transform: rotate(0) translateX(70rem);
            width: 70vw;
        }
    }

    @keyframes return-bg {
        0% {
            height: 180vh;
            transform: rotate(0) translateX(70rem);
            width: 70vw;
        }
        50% {
            height: 180vh;
            transform: rotate(0) translateX(5rem);
            width: 70vw;
        }
        60% {
            height: 180vh;
            transform: rotate(0) translateX(5rem);
            width: 70vw;
        }
        100% {
            height: 180vh;
            transform: rotate(-30deg) translateX(0);
            width: 70vw;
        }
    }
    @keyframes hide-name {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(15rem);
        }
        100% {
            transform: translateX(80rem);
        }
    }

    @keyframes return-name {
        0% {
            transform: translateX(80rem);
        }
        50% {
            transform: translateX(15rem);
        }
        60% {
            transform: translateX(15rem);
        }
        100% {
            transform: translateX(0);
        }
    }

    #headshot-well {
        width: 30vw;
        margin-top: calc(300px - 12vw);
    }

    #headshot {
        transform: translateX(-30px);
    }

    #third-header-body-headers > h3 {
        font-size: 55px;
        cursor: pointer;
    }

    #third-header-body-headers .first-header.middle {
        position: absolute;
        left: 20rem;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .second-header.middle {
        position: absolute;
        left: 15rem;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .third-header.middle {
        position: absolute;
        left: 38%;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .first-header.right {
        position: absolute;
        left: 75%;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .second-header.right {
        position: absolute;
        left: 74%;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .third-header.right {
        position: absolute;
        left: 75%;
        transition: left 1s ease, color 1s ease;
    }
}

@media (max-width: 1541px) {
    #main-headers .smaller-text {
        display: block;
    }
    #main-headers .larger-text {
        display: none;
    }
    h1 {
        font-size: 120px;
    }
    h2 {
        font-size: 90px;
    }

    .first-header-logos img,
    .second-header-logos img,
    .third-header-logos img {
        height: 4.5rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    .about-gap {
        margin-left: 0.5rem;
    }

    .second-header-logos {
        padding-top: 89px;
    }

    .third-header-logos {
        padding-top: 90px;
    }

    #uofw {
        height: 4.5rem;
    }

    #code {
        height: 6vh;
    }

    #curling {
        height: 3.5rem;
    }

    #guitar {
        height: 5.5rem;
    }

    #hockey {
        height: 4.5rem;
    }

    #frisbee {
        height: 4rem;
    }

    #chess {
        height: 4rem;
    }

    #third-header-body-headers > h3 {
        font-size: 50px;
        cursor: pointer;
    }

    #third-header-body-headers .first-header.middle {
        position: absolute;
        left: 18rem;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .second-header.middle {
        position: absolute;
        left: 13rem;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .third-header.middle {
        position: absolute;
        left: 38%;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .first-header.right {
        position: absolute;
        left: 75%;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .second-header.right {
        position: absolute;
        left: 74%;
        transition: left 1s ease, color 1s ease;
    }

    #third-header-body-headers .third-header.right {
        position: absolute;
        left: 76%;
        transition: left 1s ease, color 1s ease;
    }
}

@media (max-width: 1400px) {
    .img-text-row img {
        height: 80px;
    }
    #second-header-body .img-text-row img {
        height: 55px;
    }
    .img-text-row img#guitar-logo {
        height: 100px;
    }
    .img-text-row img#hockey-logo {
        height: 80px;
    }
    .img-text-row img#frisbee-logo {
        height: 65px;
    }
}

@media (max-width: 1300px) {
    #headshot {
        float: right;
        width: 455px;
        height: 270px;
        transform: translateX(30px);
    }
    #third-header-body-headers > h3 {
        font-size: 45px;
        cursor: pointer;
    }

    .socials-bar {
        right: 4vw;
        bottom: 4vw;
    }

    @keyframes pop-up {
        0% {
            transform: translateX(14rem);
        }
        100% {
            transform: translateX(0);
        }
    }

    .links {
        flex-direction: column;
    }
}

@media (max-width: 1210px) {
    h1 {
        font-size: 120px;
    }
    h2 {
        font-size: 80px;
    }
    #first-header-code-img {
        height: 50px;
        width: 70px;
    }
    .third-header-logos img,
    .second-header-logos img,
    .first-header-logos img {
        padding-left: 0.5rem;
        padding-right: 1rem;
        height: 4rem;
    }

    .about-gap {
        margin-left: 0.5rem;
    }

    #uofw {
        height: 4.5rem;
    }

    #curling {
        height: 3rem;
    }

    #guitar {
        height: 5rem;
    }

    #hockey {
        height: 4rem;
    }

    #frisbee {
        height: 3.5rem;
    }

    #chess {
        height: 3.5rem;
    }

    .first-header-logos {
        padding-top: 70px;
    }

    .second-header-logos {
        padding-top: 70px;
    }

    .third-header-logos {
        padding-top: 70px;
    }

    #first-header {
        top: 42vh;
    }

    #second-header {
        top: 58vh;
    }

    #third-header {
        top: 75vh;
    }

    @keyframes first-header-to-top {
        0% {
            top: 37vh;
        }
        100% {
            top: 3rem;
        }
    }

    @keyframes second-header-to-top {
        0% {
            top: 53vh;
        }
        100% {
            top: 3rem;
        }
    }

    @keyframes third-header-to-top {
        0% {
            top: 69vh;
        }
        100% {
            top: 3rem;
        }
    }

    @keyframes first-header-initial-position {
        0% {
            top: 3rem;
        }
        100% {
            top: 42vh;
        }
    }

    @keyframes second-header-initial-position {
        0% {
            top: 3rem;
        }
        100% {
            top: 58vh;
        }
    }

    @keyframes third-header-initial-position {
        0% {
            top: 3rem;
        }
        100% {
            top: 75vh;
        }
    }

    #resume {
        top: 15.5vh;
    }

    #first-header-body {
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    #header-cover {
        width: 50rem;
    }
    #headshot {
        transform: translateX(40px);
    }
}

@media (max-width: 1085px) {
    h1 {
        font-size: 110px;
    }
    h2 {
        font-size: 70px;
    }
    h3 {
        font-size: 30px;
    }
    #resume {
        top: 14.5vh;
    }
    #pdf-desc {
        font-size: 20px;
        margin: 17px 0 0 0;
    }
    #second-header-body .img-text-row img {
        height: 40px;
    }
    .img-text-row img {
        height: 60px;
    }
    .img-text-row img#guitar-logo {
        height: 75px;
    }
    .img-text-row img#hockey-logo {
        height: 65px;
    }
    .img-text-row img#frisbee-logo {
        height: 55px;
    }
    #first-header-uofw-img {
        height: 65px;
        width: 65px;
    }
    #first-header-code-img {
        height: 45px;
        width: 65px;
    }

    .first-header-logos img,
    .second-header-logos img,
    .third-header-logos img {
        padding-left: 0.5rem;
        padding-right: 1rem;
        height: 3.5rem;
    }

    .second-header-logos {
        padding-top: 60px;
    }

    .third-header-logos {
        padding-top: 60px;
    }

    #uofw {
        height: 3.5rem;
    }

    #code {
        height: 3rem;
    }

    #curling {
        height: 3rem;
    }

    #guitar {
        height: 4.5rem;
        padding-right: 1.5rem;
    }

    #hockey {
        height: 4rem;
    }

    #frisbee {
        height: 3.5rem;
    }

    #chess {
        height: 3.5rem;
    }

    #tdsb {
        height: 2.5rem;
    }

    .about-gap {
        margin-left: 0.5rem;
    }
}

@media (max-width: 1000px) {
    #headshot {
        transform: translateX(60px);
    }
    #first-header-body .card {
        flex-direction: column;
    }

    #first-header-body .left-image {
        padding: 1rem 0;
    }

    #first-header-body .right-text {
        padding: 0 1rem 1rem;
    }
}

@media (max-width: 950px) {
    #first-header-uofw-img {
        width: 50px;
        height: 50px;
    }

    #first-header-code-img {
        height: 40px;
        width: 60px;
    }
}

@media (max-width: 915px) {
    h2 {
        font-size: 70px;
    }
    #main-headers {
        padding-left: 6vw;
    }

    #first-header {
        top: 44vh;
    }

    #second-header {
        top: 58vh;
    }

    #third-header {
        top: 75vh;
    }

    @keyframes first-header-to-top {
        0% {
            top: calc(44vh - 50px);
        }
        100% {
            top: 3rem;
        }
    }

    @keyframes second-header-to-top {
        0% {
            top: calc(58vh - 47px);
        }
        100% {
            top: 3rem;
        }
    }

    @keyframes third-header-to-top {
        0% {
            top: calc(75vh - 47px);
        }
        100% {
            top: 3rem;
        }
    }

    @keyframes first-header-initial-position {
        0% {
            top: 96px;
        }
        100% {
            top: 44vh;
        }
    }

    @keyframes second-header-initial-position {
        0% {
            top: 96px;
        }
        100% {
            top: 58vh;
        }
    }

    @keyframes third-header-initial-position {
        0% {
            top: 96px;
        }
        100% {
            top: 75vh;
        }
    }

    #first-header.first-header-to-top,
    #second-header.second-header-to-top,
    #third-header.third-header-to-top {
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }

    .first-header-initial-position,
    .second-header-initial-position,
    .third-header-initial-position {
        animation-delay: 0.75s;
    }

    .first-header-logos {
        padding-top: 50px;
    }

    .second-header-logos {
        padding-top: 55px;
    }

    .third-header-logos {
        padding-top: 60px;
    }

    #main-headers > #third-header.enabled.hover,
    #main-headers > #first-header.enabled.hover,
    #main-headers > #second-header.enabled.hover {
        transform: translateY(-3rem);
        z-index: 999;
    }

    .third-header-logos img,
    .second-header-logos img,
    .first-header-logos img {
        height: 3.5rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
        opacity: 0;
        transform: translateY(-7vh) rotate(-5deg) scale(0.8);
        transition: opacity 0.3s ease, transform 0.6s;
    }

    .second-header-logos img {
        width: 5vh;
        height: auto;
    }

    #curling {
        height: 2.5rem;
        width: auto;
    }

    #guitar {
        height: 4.5rem;
        width: auto;
    }

    #hockey {
        height: 3.5rem;
        width: auto;
    }

    #frisbee {
        height: 2.8rem;
        width: auto;
    }

    #chess {
        height: 3rem;
        width: auto;
    }

    #tdsb {
        height: 2.2rem;
    }

    #uofw {
        height: 3rem;
    }

    #code {
        height: 2.2rem;
    }

    .about-gap {
        margin-left: 0.25rem;
    }

    #first-header-body {
        height: 70vh;
    }

    #headshot-well {
        position: absolute;
        top: 0;
        left: 0;
        height: 30vh;
        width: 80vw;
        margin: 0;
        transform: none;
        animation-name: fade-in;
    }

    #headshot {
        height: 455px;
        transform: none;
        float: none;
        width: auto;
        transform: translateY(-70px);
    }

    #headshot-well:hover {
        transform: scale(1.02) translateY(1vh);
    }

    #blackout {
        position: absolute;
        background-color: var(--bg-color);
        height: 30vh;
        width: 120vw;
        z-index: 1;
        top: -30vh;
        left: -5vw;
    }

    .first-paragraph {
        font-size: 25px;
        padding-top: 35vh;
        width: 100%;
    }

    .img-text-row {
        display: flex;
        flex-direction: column;
        justify-items: center;
        font-size: 22px;
        align-items: flex-start;
        color: var(--default-text);
        padding: 0;
    }

    .img-text-row img {
        width: auto;
        height: 7vh;
        padding: 0 1vw 0 0;
        margin: 0;
        padding-right: 5vw;
    }

    #second-header-body .img-text-row img {
        width: auto;
        height: 40px;
    }

    #second-header-body #hockey-logo {
        width: auto;
        height: 65px;
        padding-left: 1vw;
    }

    #second-header-body #guitar-logo {
        width: auto;
        height: 75px;
        padding-left: 2vw;
    }
    .img-text-row img#frisbee-logo {
        height: 50px;
    }

    .row-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-text-row img#tdsb-logo {
        height: 1vw;
        min-height: 25px;
        padding-right: 5.5vw;
    }

    .img-text-row p {
        margin-top: 2vh;
        margin-bottom: 4vh;
    }

    .row-img {
        height: 7vh;
        display: flex;
        align-items: center;
    }

    .row-title {
        padding: 16px 0 0 89px;
    }

    #back-btn:hover,
    #back-btn:active {
        width: 5rem;
        top: 2rem;
        box-shadow: 0 0 0 2px var(--emphasis);
        border-radius: 5px;
    }

    #back-btn {
        /* border: 2px solid var(--emphasis); */
        outline: none;
        border-radius: 5px;
        height: 35px;
        width: 5rem;
        margin: 0 7vw;
        transition: box-shadow 0.4s ease;
        z-index: 9999;
        top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
    }

    img#gold-back-arrow {
        height: 20px;
        width: auto;
    }

    @keyframes back-btn-slide-in {
        0% {
            transform: translateY(-10rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #left-arrow {
        display: none;
    }

    #gold-back-arrow {
        display: block;
    }

    #first-header-body,
    #second-header-body,
    #third-header-body {
        position: absolute;
        margin-top: 11rem;
    }

    #third-header-body,
    #second-header-body {
        width: 92vw;
    }

    @keyframes slash {
        0% {
            height: 105rem;
            transform: rotate(-73deg) translateX(0) scaleX(0);
        }
        100% {
            height: 105rem;
            transform: rotate(-73deg) translateX(0) scaleX(1);
        }
    }

    @keyframes tertiary-slash {
        0% {
            transform: rotate(-30deg) translateX(0) scaleX(0);
        }
        100% {
            transform: rotate(-30deg) translateX(0) scaleX(1);
        }
    }

    #secondary-bg {
        width: 50rem;
        top: -55rem;
        left: 32%;
        animation-duration: 1s;
        box-shadow: 4px 3px 24px -5px #000000;
    }

    #tertiary-bg {
        transform-origin: right;
        width: 60vw;
        left: 70%;
        animation-duration: 1s;
        animation-delay: 0.2s;
    }

    #header-cover {
        display: none;
    }

    #tertiary-bg.hide-bg {
        animation-name: hide-tertiary-bg;
    }

    #tertiary-bg.return-bg {
        animation-name: return-tertiary-bg;
    }

    @keyframes hide-tertiary-bg {
        0% {
            transform: rotate(-30deg) translateX(0) scaleX(1);
        }
        100% {
            transform: rotate(-30deg) translateX(0) scaleX(0);
        }
    }

    @keyframes return-tertiary-bg {
        0% {
            transform: rotate(-30deg) translateX(0) scaleX(0);
        }
        100% {
            transform: rotate(-30deg) translateX(0) scaleX(1);
        }
    }

    h1 {
        font-size: 90px;
    }
    #name {
        animation-delay: 0s;
        top: 7vh;
        right: 5vw;
        font-size: 110px;
    }

    @keyframes hide-bg {
        0% {
            height: 105rem;
            transform: rotate(-73deg) translateX(0);
        }
        25% {
            height: 105rem;
            transform: rotate(-90deg) translateX(5rem);
        }
        100% {
            height: 105rem;
            transform: rotate(-90deg) translateX(30rem);
        }
    }

    @keyframes return-bg {
        0% {
            height: 105rem;
            transform: rotate(-90deg) translateX(30rem);
        }
        50% {
            height: 105rem;
            transform: rotate(-90deg) translateX(5rem);
        }
        100% {
            height: 105rem;
            transform: rotate(-73deg) translateX(0);
        }
    }
    @keyframes hide-name {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-5rem);
        }
        100% {
            transform: translateY(-30rem);
        }
    }

    @keyframes return-name {
        0% {
            transform: translateY(-30rem);
        }
        50% {
            transform: translateY(-5rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #first-header-uofw-img {
        width: 65px;
        height: 65px;
    }

    #first-header-code-img {
        width: 70px;
        height: 50px;
    }
    #resume {
        flex-direction: column;
        top: 11.5vh;
        right: 7vw;
        align-items: flex-start;
    }
    #pdf-icon {
        margin-left: 0;
        height: 20px;
        width: 18px;
    }
    #resume-download {
        padding-top: 10px;
    }
    #pdf-desc {
        margin-top: 0;
    }

    .socials-bar {
        border: none;
        top: 18rem;
        right: 1rem;
        padding: 0;
    }

    .links {
        flex-direction: row;
    }

    .links a:nth-child(3) {
        padding-top: 5rem;
    }

    .links a:nth-child(2) {
        padding-top: 2.5rem;
    }
}

@media (max-width: 830px) {
    .socials-bar {
        top: 17rem;
    }
    @keyframes hide-bg {
        0% {
            height: 105rem;
            transform: rotate(-73deg) translateX(0);
        }
        25% {
            height: 105rem;
            transform: rotate(-90deg) translateX(5rem);
        }
        100% {
            height: 105rem;
            transform: rotate(-90deg) translateX(30rem);
        }
    }

    @keyframes return-bg {
        0% {
            height: 105rem;
            transform: rotate(-90deg) translateX(30rem);
        }
        50% {
            height: 105rem;
            transform: rotate(-90deg) translateX(5rem);
        }
        100% {
            height: 105rem;
            transform: rotate(-73deg) translateX(0);
        }
    }
    @keyframes hide-name {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-5rem);
        }
        100% {
            transform: translateY(-30rem);
        }
    }

    @keyframes return-name {
        0% {
            transform: translateY(-30rem);
        }
        50% {
            transform: translateY(-5rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #horizontal-divider {
        display: none;
    }
}

@media (max-width: 760px) {
    .socials-bar {
        top: 16rem;
    }

    #tertiary-bg {
        width: 30rem;
    }
    #first-header-body,
    #second-header-body,
    #third-header-body {
        position: absolute;
    }
    #resume {
        flex-direction: row;
        left: 7vw;
        top: 22vh;
        gap: 16px;
        align-items: flex-end;
    }
    #headshot {
        transform: translateY(-70px) translateX(-100px);
    }

    #name {
        font-size: 95px;
    }

    #first-header-body {
        display: block;
        overflow-y: auto;
    }

    #divider {
        height: 1px;
    }

    #divider div {
        border-bottom: 2px solid var(--emphasis);
        border-left: none;
        width: 100%;
        height: 1px;
    }

    .paragraph-well {
        overflow: hidden;
    }

    #paragraphs {
        text-align: center;
        padding: 0;
        padding-bottom: 1rem;
        animation-name: fade-in-translate;
    }

    #paragraphs p:first-of-type {
        margin-top: 2rem;
    }

    .right-card-well {
        overflow: hidden;
    }

    #right-card-scroller {
        max-height: none;
        padding: 0;
        padding-top: 2rem;
        animation-name: fade-in-translate-down;
    }
}

@media (max-width: 700px) {
    .socials-bar {
        top: 16rem;
    }
    .links {
        gap: 0.5rem;
    }
    .links img {
        max-width: 2.5rem;
    }
}



@media (max-width: 600px) {
    .socials-bar {
        bottom: 0;
        left: 6vw;
        top: revert;
        /* background-color: var(--default-text); */
        border-radius: 1rem 1rem 0 0;
        width: calc(100% - 12vw - 1rem);
        border: 4px solid var(--gold);
        border-bottom: none;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
    }

    .links {
        flex-direction: row;
        gap: 2rem;
    }

    .links a:nth-child(3) {
        padding-top: 0;
    }

    .links a:nth-child(2) {
        padding-top: 0;
    }

    @keyframes pop-up {
        0% {
            transform: translateY(10rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: right;
        right: 0;
        font-size: 80px;
    }
    .third-header-logos,
    .second-header-logos,
    .first-header-logos {
        padding-top: 35px;
    }

    h1 {
        font-size: 80px;
    }

    #headshot {
        transform: translateX(-180px) translateY(-60px);
    }

    #tdsb-row-title {
        font-size: 22px;
        padding-top: 20px;
    }

    h2 {
        font-size: 55px;
    }

    @keyframes first-header-to-top {
        0% {
            top: calc(44vh - 48px);
        }
        100% {
            top: 3rem;
        }
    }

    @keyframes second-header-to-top {
        0% {
            top: calc(58vh - 47px);
        }
        100% {
            top: 3rem;
        }
    }

    @keyframes third-header-to-top {
        0% {
            top: calc(72vh - 47px);
        }
        100% {
            top: 3rem;
        }
    }

    @keyframes first-header-initial-position {
        0% {
            top: 96px;
        }
        100% {
            top: 44vh;
        }
    }

    @keyframes second-header-initial-position {
        0% {
            top: 96px;
        }
        100% {
            top: 58vh;
        }
    }

    @keyframes third-header-initial-position {
        0% {
            top: 96px;
        }
        100% {
            top: 72vh;
        }
    }

    #third-header {
        top: 72vh;
    }
    #tertiary-bg {
        left: 80%;
    }

    #secondary-bg {
        top: -50rem;
    }

    @keyframes slash {
        0% {
            height: 86rem;
            transform: rotate(-73deg) translateX(0) scaleX(0);
        }
        100% {
            height: 86rem;
            transform: rotate(-73deg) translateX(0) scaleX(1);
        }
    }

    @keyframes hide-bg {
        0% {
            height: 86rem;
            transform: rotate(-73deg) translateX(0);
        }
        25% {
            height: 86rem;
            transform: rotate(-90deg) translateX(5rem);
        }
        100% {
            height: 86rem;
            transform: rotate(-90deg) translateX(30rem);
        }
    }

    @keyframes return-bg {
        0% {
            height: 86rem;
            transform: rotate(-90deg) translateX(30rem);
        }
        50% {
            height: 86rem;
            transform: rotate(-90deg) translateX(5rem);
        }
        100% {
            height: 86rem;
            transform: rotate(-73deg) translateX(0);
        }
    }
    @keyframes hide-name {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-25rem);
        }
    }

    @keyframes return-name {
        0% {
            transform: translateY(-25rem);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(0);
        }
    }

    #third-header-body-headers > h3 {
        font-size: 40px;
    }

    #third-header-body-headers .first-header.middle {
        left: 14rem;
    }

    #third-header-body-headers .second-header.middle {
        left: 10.5rem;
    }

    #first-header-body,
    #second-header-body,
    #third-header-body {
        width: 90vw;
        margin-top: 10rem;
    }

    .blue-right-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        position: absolute;
        left: 13rem;
        top: 0.9rem;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .blue-right-arrow img {
        height: 100%;
        width: 100%;
    }

    #curling {
        height: 2rem;
    }

    #frisbee {
        padding-left: 0;
        padding-right: 0.5rem;
        height: 2.3rem;
    }

    #guitar {
        height: 3rem;
        width: auto;
        padding-right: 1rem;
    }

    #hockey {
        height: 2.8rem;
        width: auto;
    }

    #chess {
        height: 2.3rem;
        width: auto;
    }

    #uofw {
        height: 2.5rem;
    }

    #code {
        height: 2rem;
    }

    .first-header-logos {
        padding-top: 25px;
    }

    .second-header-logos {
        padding-top: 25px;
    }

    .third-header-logos {
        padding-top: 35px;
    }

    #back-btn {
        top: 1.5rem;
    }

    #back-btn:hover,
    #back-btn:active {
        top: 1.5rem;
    }
}

@media (max-width: 480px) {
    .links img {
        max-width: 2rem;
    }

    #name {
        font-size: 70px;
    }
    #headshot {
        transform: translateX(-240px) translateY(-50px);
    }

    h1 {
        font-size: 70px;
    }

    #tertiary-bg {
        left: 80%;
    }
}

@media (max-width: 440px) {
    #name {
        font-size: 60px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 24px;
    }
    .img-text-row p,
    ul {
        font-size: 16px;
    }
    .img-text-row img {
        height: 50px;
    }
    #second-header-body #hockey-logo {
        height: 55px;
        padding-left: 4vw;
    }
    #second-header-body #guitar-logo {
        height: 65px;
    }
    .row-title {
        padding: 20px 0 0 70px;
    }
    #tdsb-row-title {
        padding-left: 75px;
        font-size: 20px;
    }
    #first-header-uofw-img {
        height: 50px;
        width: 50px;
    }
    #first-header-code-img {
        height: 35px;
        width: 50px;
    }

    .third-header-logos,
    .second-header-logos,
    .first-header-logos {
        padding-top: 20px;
    }
    #third-header-body-headers > h3 {
        font-size: 32px;
        cursor: pointer;
        color: var(--blue);
    }

    #third-header-body-headers .first-header.middle {
        left: 12rem;
    }

    #third-header-body-headers .second-header.middle {
        left: 9rem;
    }

    #first-header-body,
    #second-header-body,
    #third-header-body {
        width: 88vw;
        margin-top: 9rem;
    }

    .blue-right-arrow {
        left: 9rem;
        top: 0.3rem;
        height: 25px;
        width: 25px;
    }

    .third-header-logos img,
    .second-header-logos img,
    .first-header-logos img {
        padding-left: 0.25rem;
        padding-right: 0.75rem;
        height: 2.5rem;
    }

    .first-header-logos {
        padding-top: 15px;
    }

    .second-header-logos {
        padding-top: 17px;
    }

    .third-header-logos {
        padding-top: 17px;
    }
    #tdsb {
        height: 1.5rem;
    }
    #curling {
        height: 2rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 45px;
    }
    #resume {
        flex-direction: column;
        left: 7vw;
        top: 20vh;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
    }
    .third-header-logos,
    .second-header-logos,
    .first-header-logos {
        padding-top: 15px;
    }
    #headshot {
        transform: translateX(-250px) translateY(-55px);
    }

    .blue-right-arrow {
        left: 8.5rem;
        top: 0.3rem;
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 300px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }
    .third-header-logos,
    .second-header-logos,
    .first-header-logos {
        padding-top: 12px;
    }
    #headshot {
        transform: translateX(-180px) translateY(-40px);
        height: 330px;
    }
}
