:root {
    --title: #72DDF7;
    --heading-1: #B388EB;
    --heading-2: #8093F1;
    --emphasis: #F7AEF8;
    --neutral: #F4F4ED;
}

@font-face {
    font-family: SignikaNegative;
    src: url('./Signika_Negative/SignikaNegative-Regular.ttf')
}

html, body {
    font-family: SignikaNegative, sans-serif, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #202020;
    margin: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@keyframes click-text-animation {
    0% {opacity: 0%}
    10% {opacity: 100%}
    40% {opacity: 100%}
    100% {opacity: 0%}
}

#click-text {
    pointer-events: none;
    color: var(--emphasis);
    font-size: 25px;
    position: absolute;
    animation-name: click-text-animation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#name-well {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes name-pop-in {
    0% {visibility: hidden}
    50% {visibility: hidden}
    100% {visibility: visible}

}
#name {
    position: relative;
    color: var(--title);
    font-size: 60px; 
    padding-bottom: 20vh;
    pointer-events: none;
    animation-name: name-pop-in;
    animation-duration: 5s;
}

@keyframes name-outline-fade-in {
    0% {opacity: 0%;}
    50% {opacity: 0%; width: 600px; height: 400px;}
    52% {opacity: 100%;}
    60% {opacity: 0%; width: 700px; height: 467px;}
    100% {opacity: 0%}
}

#name-outline {
    position: absolute;
    padding-bottom: 20vh;
    width: 600px;
    height: 400px;
    animation-name: name-outline-fade-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes pop-in {
    0% {opacity: 0%}
    50% {opacity: 0%}
    52% {opacity: 100%}
    70% {opacity: 0%}
    100% {opacity: 0%}

}

#pop {
    position: absolute;
    font-size: 30px;
    color: white;
    animation-name: pop-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}