@font-face {
    font-family: SignikaNegative;
    src: url('./Signika_Negative/SignikaNegative-Regular.ttf')
}

html, body {
    font-family: SignikaNegative, sans-serif, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #202020;
    margin: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@keyframes click-text-animation {
    0% {opacity: 0%}
    10% {opacity: 100%}
    40% {opacity: 100%}
    100% {opacity: 0%}
}

.click-text {
    pointer-events: none;
    color: #EF78B8;
    font-size: 25px;
    position: absolute;
    animation-name: click-text-animation;
    animation-duration: 0.7s;
}

.name-well {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name {
    color: #00AFBA;
    font-size: 60px; 
    padding-bottom: 20vh;
    pointer-events: none;
}
