:root {
    --bg-color: #070707;
    --title: #8ACDEA;
    --heading-1: #EFE1F0;
    --default-text: #EFE1F0;
    --heading-2: #8093F1;
    --emphasis: #FFBADF;
    --neutral: #F4F4ED;
}

@font-face {
    font-family: SignikaNegative;
    src: url('../Signika_Negative/SignikaNegative-Regular.ttf')
}
 
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-headers {
    height: 100%;
    font-size: 13vh;
    font-family: SignikaNegative;
    color: var(--title);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    min-width: 50vw;
    
}

#main-headers > a {
    cursor: pointer;    
    margin: 2.5vh 0;
    transition: transform 1s ease;
    display: grid;
    grid-template-rows: 0.9fr 0.1fr;
    justify-content: start;
}

#main-headers.enable-hover > a:hover {
    transform: translateY(-7vh);
}

#main-headers a > b {
    background-color: var(--bg-color);
    z-index: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#main-headers a > div {
    grid-row-start: 2;
    grid-row-end: 2;
}

#main-headers a > b {
    height: 9vh;
}

.smaller-text {
    display: none;
}

@media (max-width: 1541px) {
    #main-headers .smaller-text {
        display: block;
    }
    #main-headers .larger-text {
        display: none;
    }
}

@media (max-width: 1180px) {
    #headshot-well {
        align-items: start;
        padding-top: 21vh;
    }
    #headshot {
        height: 42vh;
    }
}

@media (max-width: 875px) {
    body {
        flex-wrap: wrap-reverse;
    }
    #headshot-well {    
        height: 40%;
        width: 100%;
        padding-top: 10vh;
    }
    #headshot {
        height: 27vh;
        margin: 6vh 0 0 0;
        /* margin-left: 6vw;
        margin-top: 6vh; */
    }
    #main-headers {
        height: 60%;
        font-size: 11vh;
        align-items: center;
        width: 100vw;
        justify-content: flex-end;
        /* padding-left: 6vw; */
        padding: 0;
    }
    #main-headers > a:hover {
        transform: translateY(-5vh);
    }
}

@media (max-width: 560px) {
    #main-headers {
        font-size: 8vh;
    }
    #headshot {
        height: 38vh;
    }
}

@keyframes float-up {
    0% {
        transform: translateX
    }

}

.third-header-logos, .second-header-logos, .first-header-logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 0;
    padding-top: 10vh;
    z-index: 1;
}

@keyframes float {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(15px);
    }
}

#first-header div div{
    display: flex;
    justify-self: center;
    align-self: center;
}

#second-header .second-header-logos img {
    filter: invert(100);
    width: 9vh;
    height: auto;
}

.third-header-logos img, .second-header-logos img, .first-header-logos img {
    height: 8vh;
    padding: 0 1vw;
    opacity: 0;
    transform: translateY(-7vh) rotate(-5deg) scale(0.8);
    transition: opacity 0.3s ease, transform 0.6s;
}

.third-header-logos div, .second-header-logos div {
    display: flex;
    justify-content: center;
}

#tdsb {
    height: 6vh;   
}

#uofw {
    height: 9.2vh;
}

#code {
    height: 7vh;
}

#second-header #curling {
    height: 6vh;
}

#second-header #guitar {
    height: 10vh;
    width: auto;
    padding: 0 2vw;
}

#second-header #hockey {
    height: 8vh;
    width: auto;
}

#front-rush, #guitar, #uofw {
    transition-delay: 0.1s;
}

#tbits, #hockey, #code {
    transition-delay: 0.2s;
}

#hack-the-north, #frisbee {
    transition-delay: 0.3s;
}

#python, #video-games {
    transition-delay: 0.4s;
}

#third-header:hover img, #second-header:hover img, #first-header:hover img {
    opacity: 100%;
    transform: translateY(0) rotate(0deg) scale(1);
}

#third-header:hover div div, #second-header:hover div div, #first-header:hover div div {
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.68,-0.01, 0.45, 0.99);
    animation-fill-mode: both;
}

.third-header-logos div, .second-header-logos div, .first-header-logos div {
    animation-duration: 7s;
}

.third-header-logos div:nth-child(2), .second-header-logos div:nth-child(2), .first-header-logos div:nth-child(2) {
    animation-delay: 0.5s;
}

.third-header-logos div:nth-child(3), .second-header-logos div:nth-child(3) {
    animation-delay: 1s;
}

.third-header-logos div:nth-child(4), .second-header-logos div:nth-child(4){
    animation-delay: 1.5s;
}

.third-header-logos div:nth-child(5), .second-header-logos div:nth-child(5) {
    animation-delay: 2s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(50vh);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

#first-header-body {
    display: none;
}

#first-header-body p{
    animation-name: fade-in;
    animation-duration: 1s;
    color: var(--default-text);
    font-size: 2.5vh;
}

.paragraph-and-image {
    display: flex;
    margin-top: 8vh;
    justify-content: space-between;
}

#headshot {
    height: 45vh;
    width: auto;
    border-radius: 20px;  
    border: 3px solid var(--heading-1);
    margin: 0 12vw -10vw 6vw;
    transform: translateY(-20vh);
    transition: transform 0.4s ease;
}

#headshot:hover {
    transform: scale(1.05) translateY(-20vh);
}

.second-paragraph {
    margin-right: 10vw;
}

@keyframes back-btn-slide-in {
    0% {
        opacity: 0;
        transform: translateX(-5vw);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

#back-btn {
    display: none;
    position: absolute;
    cursor: pointer;
    border-right: 3px solid var(--emphasis);
    border-left: 3px solid rgba(255, 186, 223, 0.1);
    border-bottom: 3px solid rgba(255, 186, 223, 0.1);
    border-top: 3px solid rgba(255, 186, 223, 0.1);
    background-color: rgba(255, 186, 223, 0.1);
    left: 0;
    height: 100vh;
    width: 4vw;
    animation-name: back-btn-slide-in;
    animation-duration: 1s;
    transition: width 0.5s ease;
}

#back-btn:hover {
    width: 5.5vw;
}

#back-btn img {
    width: 2vw;
    height: auto;
}

.proj {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;

}