:root {
    --bg-color: #202020;
    --bg-color-2: #D9D9D9;
    /* --title: #8ACDEA; */
    --heading-1: #EFE1F0;
    --default-text: #EFE1F0;
    /* --heading-2: #8093F1; */
    --title: #d9d9d9;
    --emphasis: #FFBADF;
    --neutral: #F4F4ED;
}

::-webkit-scrollbar {
    width: 16px;
  }
  
::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgba(100, 100, 100, 70);
    transition: background-color 1s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a3a3a3;
}

@font-face {
    font-family: SignikaNegativeBold;
    src: url('../Signika_Negative/SignikaNegative-Bold.ttf');
}

@font-face {
    font-family: SignikaNegativeRegular;
    src: url('../Signika_Negative/SignikaNegative-Regular.ttf');
}

@font-face {
    font-family: SignikaNegativeLight;
    src: url('../Signika_Negative/SignikaNegative-Light.ttf');
}

@font-face {
    font-family: SecularOne;
    src: url('../Secular_One/SecularOne-Regular.ttf');
}

@font-face {
    font-family: OohBaby;
    src: url('../Oooh_Baby/OoohBaby-Regular.ttf');
}

@font-face {
    font-family: PatrickHand;
    src: url('../Patrick_Hand/PatrickHand-Regular.ttf');
}
 
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
    overflow: hidden;
}

p {
    font-family: SignikaNegativeLight;
}

h1 {
    font-family: SecularOne;
    font-size: 15vh;
    margin: 0;
    line-height: 1;
}

h2 {
    font-family: PatrickHand;
    font-size: 12vh;
    margin: 0;
}

h3 {
    font-family: SignikaNegativeBold;
    font-size: 3.5vh;
    margin: 0;
}

@keyframes slash {
    0% {
        height: 0;
        transform: rotate(0);
        width: 0.5vw;
    }
    30% {
        height: 180vh;
        transform: rotate(0) translateX(0);
        width: 0.5vw;
    }
    60% {
        height: 180vh;
        transform: rotate(-25deg) translateX(-5%);
        width: 0.5vw;
    }
    100% {
        height: 180vh;
        transform: rotate(-25deg) translateX(-5%) ;
        width: 70vw;
    }
}

#secondary-bg {
    width: 100vw;
    background-color: var(--bg-color-2);
    position: absolute;
    top: -50vh;
    left: 53%;
    animation-name: slash;
    animation-duration: 3s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
}

@keyframes hide-secondary-bg {
    0% {
        height: 180vh;
        transform: rotate(-25deg) translateX(-5%) ;
        width: 70vw;
    }
    25% {
        height: 180vh;
        transform: rotate(0) translateX(-15%) ;
        width: 70vw;
    }
    100% {
        height: 180vh;
        transform: rotate(0) translateX(60vw) ;
        width: 70vw;
    }
}

@keyframes return-secondary-bg {
    0% {
        height: 180vh;
        transform: rotate(0) translateX(60vw) ;
        width: 70vw;
    }
    50% {
        height: 180vh;
        transform: rotate(0) translateX(-15%) ;
        width: 70vw;
    }
    100% {
        height: 180vh;
        transform: rotate(-25deg) translateX(-5%) ;
        width: 70vw;
    }
}

#secondary-bg.hide-secondary-bg {
    animation-name: hide-secondary-bg;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 0s;
}

#secondary-bg.return-secondary-bg {
    animation-name: return-secondary-bg;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 0s;
}

@keyframes hide-name {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(66vw);
    }
}

@keyframes return-name {
    0% {
        transform: translateX(66vw);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

#name {
    position: absolute;
    color: var(--bg-color);
    top: 8vh;
    right: 5vw;
    text-align: right;
    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-delay: 4s;
    animation-fill-mode: both;
}

#name.hide-name {
    animation-name: hide-name;
    animation-duration: 2s;
    animation-delay: 0s;
}

#name.return-name {
    animation-name: return-name;
    animation-duration: 2s;
    animation-delay: 0s;
}

#main-headers {
    position: absolute;
    height: 100%;
    width: calc(100% - 5vw);
    font-size: 13vh;
    font-family: OohBaby;
    color: var(--title);
    padding-left: 5vw;
    min-width: 50vw;
    overflow: hidden;
}

#main-headers > a {
    position: absolute;
    cursor: pointer;    
    margin: 2.5vh 0;
    transition: transform 1s ease;
    display: grid;
    grid-template-rows: 0.9fr 0.1fr;
    justify-content: start;
}

#main-headers > a.enabled:hover, #main-headers > a.enabled.hover {
    transform: translateY(-5vh);
}

#main-headers a > b {
    z-index: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#main-headers a > div {
    grid-row-start: 2;
    grid-row-end: 2;
}

#main-headers a > b {
    height: 9vh;
}

.smaller-text {
    display: none;
}

@media (max-width: 1541px) {
    #main-headers .smaller-text {
        display: block;
    }
    #main-headers .larger-text {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

@keyframes fade-out {
    0% {opacity: 100%}
    100% {opacity: 0}
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#main-headers .disable-transition {
    transition: none;
}

#first-header.first-header-to-top {
    animation-name: first-header-to-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes first-header-to-top {
    0% {
        top: 25vh;
    }
    100% {
        top: 4vh;
    }
}

@keyframes second-header-to-top {
    0% {
        top: 50vh;
    }
    100% {
        top: 4vh;
    }
}

#second-header.second-header-to-top {
    animation-name: second-header-to-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes third-header-to-top {
    0% {
        top: 65vh;
    }
    100% {
        top: 4vh;
    }
}

#third-header.third-header-to-top {
    animation-name: third-header-to-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes first-header-initial-position {
    0% {
        top: 4vh;
    }
    100% {
        top: 30vh;
    }
}

.first-header-initial-position {
    animation-name: first-header-initial-position;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes second-header-initial-position {
    0% {
        top: 4vh;
    }
    100% {
        top: 50vh;
    }
}

.second-header-initial-position {
    animation-name: second-header-initial-position;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes third-header-initial-position {
    0% {
        top: 4vh;
    }
    100% {
        top: 70vh;
    }
}

.third-header-initial-position {
    animation-name: third-header-initial-position;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#first-header {
    top: 30vh;
}

#second-header {
    top: 50vh;
}

#third-header {
    top: 70vh;
}


.third-header-logos, .second-header-logos, .first-header-logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 0;
    padding-top: 10vh;
    z-index: 1;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

#first-header div div{
    display: flex;
    justify-self: center;
    align-self: center;
}

#second-header .second-header-logos img {
    width: 9vh;
    height: auto;
}

.third-header-logos img, .second-header-logos img, .first-header-logos img {
    height: 8vh;
    padding: 0 1vw;
    opacity: 0;
    transform: translateY(-7vh) rotate(-5deg) scale(0.8);
    transition: opacity 0.3s ease, transform 0.6s;
}

.third-header-logos div, .second-header-logos div {
    display: flex;
    justify-content: center;
}

#tdsb {
    height: 6vh;   
}

#uofw {
    height: 9.2vh;
}

#code {
    height: 7vh;
}

#second-header #curling {
    height: 6vh;
}

#second-header #guitar {
    height: 10vh;
    width: auto;
    padding: 0 2vw;
}

#second-header #hockey {
    height: 8vh;
    width: auto;
}

#front-rush, #guitar, #uofw {
    transition-delay: 0.1s;
}

#tbits, #hockey, #code {
    transition-delay: 0.2s;
}

#hack-the-north, #frisbee {
    transition-delay: 0.3s;
}

#python, #video-games {
    transition-delay: 0.4s;
}

#third-header.enabled:hover img, #second-header.enabled:hover img, #first-header.enabled:hover img, #third-header.enabled.hover img, #second-header.enabled.hover img, #first-header.enabled.hover img {
    opacity: 100%;
    transform: translateY(0) rotate(0deg) scale(1);
}

#third-header.float:hover div div, #second-header.float:hover div div, #first-header.float:hover div div, #third-header.float.hover div div, #second-header.float.hover div div, #first-header.float.hover div div {
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.68,-0.01, 0.45, 0.99);
    animation-fill-mode: both;
}

.third-header-logos div, .second-header-logos div, .first-header-logos div {
    animation-duration: 7s;
}

.third-header-logos div:nth-child(2), .second-header-logos div:nth-child(2), .first-header-logos div:nth-child(2) {
    animation-delay: 0.5s;
}

.third-header-logos div:nth-child(3), .second-header-logos div:nth-child(3) {
    animation-delay: 1s;
}

.third-header-logos div:nth-child(4), .second-header-logos div:nth-child(4){
    animation-delay: 1.5s;
}

.third-header-logos div:nth-child(5), .second-header-logos div:nth-child(5) {
    animation-delay: 2s;
}

@keyframes fade-in-translate {
    0% {
        opacity: 0;
        transform: translateY(50vh);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.hidden-well {
    display: none;
}

#first-header-body, #second-header-body, #third-header-body {
    position: absolute;
    margin-top: 26vh;
}

#first-header-body p {
    animation-name: fade-in-translate;
    animation-duration: 1s;
    color: var(--default-text);
    font-size: 2.5vh;
}

#paragraphs {
    overflow: auto;
    height: 65vh;
}

@keyframes slide-in-from-right {
    0% {
        transform: translate(50vw, -20vh);
    }
    100% {
        transform: translate(0, -20vh);
    }
}

#headshot-well {
    display: block;
    overflow: hidden;
    height: 40vh;
    width: 20vw;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;  
    border: 3px solid var(--heading-1);
    margin: 5vh 12vw -10vw 6vw;
    transform: translateY(-20vh);
    transition: transform 0.4s ease;
    animation-name: slide-in-from-right;
    animation-duration: 1s;
}

#headshot {
    float: right;
    transform: translateX(calc(200px - 7vw));
    width: 500px;
    height: auto;
}

#headshot-well:hover {
    transform: scale(1.05) translateY(-20vh);
}

.first-paragraph {
    width: 50vw;
}

.second-paragraph {
    margin-right: 10vw;
}

@keyframes back-btn-slide-in {
    0% {
        opacity: 0;
        transform: translateX(-5vw);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

#back-btn {
    display: none;
    position: absolute;
    cursor: pointer;
    outline: 3px solid var(--emphasis);
    border: none;
    background-color: rgba(255, 186, 223, 0.1);
    left: 0;
    height: 100vh;
    width: 2vw;
    animation-name: back-btn-slide-in;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
    transition: width 0.5s ease;
    overflow: hidden;
}

#back-btn-text {
    display: none;
}

#back-btn:hover {
    width: 3vw;
}

#back-btn img {
    width: 1vw;
    height: auto;
}

@keyframes slide-to-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

.slide-to-right {
    animation-name: slide-to-right;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.reverse-animation {
    animation-direction: reverse;
    animation-fill-mode: both;
    animation-delay: 0s !important;
}

#third-header-body, #second-header-body{
    width: 83vw;
    height: 62vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 2px solid rgb(200, 200, 200);
    border-left: 2px solid rgb(200, 200, 200);
    animation-name: fade-in-translate;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.img-text-row {
    position: relative;
    display: grid;
    grid-template-columns: 12% 88%;
    color: var(--default-text);
    font-size: 2.5vh;
    padding-top: 5vh;
    padding-right: 0.5vw;
}

.img-text-row img {
    width: auto;
    height: 7vh;
    padding: 0 1vw;
}

.img-text-row p, .img-text-row img {
    margin-top: 0;
    margin-bottom: 4vh;
}

.img-text-row img#tdsb-logo {
    height: 2.5vw;
    min-height: 35px;
    width: auto;
    padding-right: 1.4vw;
}

.img-text-row img#guitar-logo {
    height: 5vw;
    width: auto;
}

.img-text-row img#hockey-logo {
    height: 4vw;
    width: auto;
}

.row-title {
    position: absolute;
    top: 0;
    margin: 0;
    padding-left: 12%;
}

.row-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;

}

@media (max-width: 1300px) {
    #headshot-well {
        top: 20vh;
        right: 15vw;
        margin: 0;
        height: 35vh;
    }
}

@media (max-width: 700px) {

    h2 {
        font-size: 15vw;
    }
    #main-headers {
        font-size: 15vw;
        padding-left: 6vw;
    }

    #first-header {
        top: 22vh;
    }
    
    #second-header {
        top: 40vh;
    }
    
    #third-header {
        top: 58vh;
    }

    @keyframes first-header-to-top {
        0% {
            top: 17vh;
        }
        100% {
            top: 8vh;
        }
    }
    
    @keyframes second-header-to-top {
        0% {
            top: 35vh;
        }
        100% {
            top: 8vh;
        }
    }
    
    @keyframes third-header-to-top {
        0% {
            top: 53vh;
        }
        100% {
            top: 8vh;
        }
    }
    
    @keyframes first-header-initial-position {
        0% {
            top: 8vh;
        }
        100% {
            top: 22vh;
        }
    }
    
    @keyframes second-header-initial-position {
        0% {
            top: 8vh;
        }
        100% {
            top: 40vh;
        }
    }
    
    @keyframes third-header-initial-position {
        0% {
            top: 8vh;
        }
        100% {
            top: 58vh;
        }
    }
    
    .third-header-logos, .second-header-logos, .first-header-logos {
        padding-top: 6vh;
    }

    .third-header-logos img, .second-header-logos img, .first-header-logos img {
        height: 5vh;
        padding: 0 2vw;
        opacity: 0;
        transform: translateY(-7vh) rotate(-5deg) scale(0.8);
        transition: opacity 0.3s ease, transform 0.6s;
    }

    #second-header .second-header-logos img {
        width: 5vh;
        height: auto;
    }

    #curling {
        width: 5vh;
        height: auto;
    }

    #tdsb {
        height: 4vh;   
    }
    
    #uofw {
        height: 5vh;
    }
    
    #code {
        height: 5vh;
    }

    #first-header-body {
        height: 60vh;
        overflow: none;
    }

    #headshot-well {
        position: absolute;
        top: 0;
        left: 0;
        height: 30vh;
        width: auto;
        margin: 0;
        transform: none;
        animation-name: fade-in;
    }

    #blackout {
        position: absolute;
        background-color: var(--bg-color);
        height: 30vh;
        width: 100vw;
        z-index: 1;
        top: -30vh;
    }


    #headshot { 
        height: 35vh;
        transform: none;
        float: none;
        width: auto;
    }

    .first-paragraph {
        padding-top: 35vh;
        width: 100%;
    }
    
    #second-header #curling {
        height: 4vh;
    }
    
    #second-header #guitar {
        height: 8vh;
        width: auto;
        padding: 0 2vw;
    }
    
    #second-header #hockey {
        height: 6vh;
        width: auto;
    }
    
    .img-text-row {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: flex-start;
        color: var(--default-text);
        font-size: 2vh;
        padding: 0 5vw;
    }
    
    .img-text-row img {
        width: auto;
        height: 7vh;
        padding: 0 1vw;
        margin: 0;
        padding-right: 5vw;
    }

    #second-header-body .img-text-row img {
        width: auto;
        height: 5vh;
    }

    #second-header-body #hockey-logo {
        width: auto;
        height: 7vh;
    }

    #second-header-body #guitar-logo {
        width: auto;
        height: 8vh;
        padding-left: 4vw;
    }

    .row-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-text-row img#tdsb-logo {
        height: 1vw;
        min-height: 25px;
        padding-right: 5.5vw;
    }
    
    .img-text-row p {
        margin-top: 2vh;
        margin-bottom: 4vh;
    }
    
    .row-img {
        height: 7vh;
        display: flex;
        align-items: end;
    }

    .row-title {
        padding: 16px 0 0 89px;
    }

    #tdsb-row-title {
        margin-top: -1.5vh;
    }

    #back-btn:hover {
        box-shadow: 0 0 10px 0 var(--emphasis) inset, 0 0 15px 2px var(--emphasis);;
        width: 30vw;
    }

    #back-btn {
        border: 2px solid var(--emphasis);
        outline: none;
        border-radius: 20px;
        height: 4vh;
        width: 30vw;
        margin: 2vh 7vw;
        transition: box-shadow 0.4s ease;
        z-index: 9999;
    }

    #left-arrow {
        display: none;
    }

    #back-btn-text {
        display: block;
        font-size: 3vh;
        margin: 0;
        color: var(--emphasis);
    }

    #first-header-body, #second-header-body, #third-header-body {
        position: absolute;
        margin-top: 23vh;
    }

    #third-header-body, #second-header-body{
        width: 88vw;
    }
}

@media (max-width: 600px) {
    .third-header-logos, .second-header-logos, .first-header-logos {
        padding-top: 5vh;
    }
}

@media (max-width: 480px) {
    .third-header-logos, .second-header-logos, .first-header-logos {
        padding-top: 4vh;
    }
}